---
layout: base
---

<div>
    <center>
        <h1>
            CSE 598: Frontier Topics in GenAI Seminar (Fall 24)
        </h1>
        </br>
        <h3>
            Arizona State University
        </h3>
        <!-- <h3>
            14th/15th December,
            Vancouver, Canada
        </h3> -->
    </center>
</div>

<div>
    <h1 class="page-heading">Overview</h1>
    <p>Join our "Frontier Topics in Generative AI" Seminar Series as the field experiences 
        unprecedented growth. Delving into areas such as large-language models, 
        text-to-image synthesis, video generation, multimodal reasoning, science discovery, 
        and robotics becomes increasingly vital. While applied research flourishes, 
        it remains crucial to illuminate the foundational works underpinning these advancements. 
        Our seminars offer an in-depth exploration of GenAI, covering key domains like vision 
        and language, and unraveling the core principles that drive innovation and shape 
        the future of this dynamic field. These sessions are part of course CSE 598 at 
        Arizona State University, scheduled on Tuesdays and Thursdays from 9:00 AM to 10:15 AM. 
        Dates for each talk are listed alongside the corresponding speaker's name.</p>
</div>
<div>
    <h1 class="page-heading">Schedule</h1>
</div>

<div class="container">
    <div class="card">
        <img src="assets/images/chan.jpg" alt="Changhoon Kim">
        <div class="info">
            <p class="name">Changhoon Kim</p>
            <p class="position">Postdoctoral Scientist at Amazon</p>
            <a href="https://www.changhoonkim.com/" target="_blank"> Website</a>
            <a href="https://scholar.google.com/citations?hl=en&user=z_04VyYAAAAJ&view_op=list_works&authuser=1&sortby=pubdate"
                target="_blank"><i class="fa-brands fa-google-scholar"></i> Google Scholar</a>
            <p class="Date">Date: Sep 5th</p> 
        </div>
    </div>

    <div class="card">
        <img src="assets/images/matt.jpg" alt="Maitreya Patel">
        <div class="info">
            <p class="name">Maitreya Patel</p>
            <p class="position">Ph.D. student at ASU</p>
            <a href="https://maitreyapatel.com/" target="_blank"> Website</a>
            <a href="https://scholar.google.com/citations?user=z--mlKgAAAAJ&hl=en"
                target="_blank"><i class="fa-brands fa-google-scholar"></i> Google Scholar</a>
                <p class="Date">Date: Sep 12th</p> 
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        <img src="https://luomancs.github.io/images/manluo.jpeg"
            alt="Man Luo">
        <div class="info">
            <p class="name">Man Luo</p>
            <p class="position">AI at Intel Lab</p>
            <a href="https://luomancs.github.io/" target="_blank"> Website</a>
            <a href="https://scholar.google.com/citations?hl=en&user=RFeq08UAAAAJ" target="_blank"><i
                    class="fa-brands fa-google-scholar"></i> Google Scholar</a>
                    <p class="Date">Date: Sep 19th</p> 
        </div>
    </div>

    <div class="card">
        <img src="https://webapp4.asu.edu/photo-ws/directory_photo/xzhou202?size=medium&break=1724745022&blankImage2=1"
            alt="Ben Zhou">
        <div class="info">
            <p class="name">Ben Zhou</p>
            <p class="position">ASU</p>
            <a href="http://xuanyu.me/" target="_blank"> Website</a>
            <a href="https://scholar.google.com/citations?user=0Cb4mtIAAAAJ&hl=en"
                target="_blank"><i class="fa-brands fa-google-scholar"></i> Google Scholar</a>
                <p class="Date">Date: Sep 26th</p> 
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        <img src="https://static.wixstatic.com/media/4c31e7_2aaf6a741f8e4f56b9e9606fd054b0d5~mv2.jpg/v1/crop/x_0,y_0,w_907,h_1107/fill/w_246,h_303,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/AIML_Headshots_WebRes117_cut2.jpg"
            alt="Damien Teney">
        <div class="info">
            <p class="name">Damien Teney</p>
            <p class="position">Idiap Research Institute </p>
            <a href="https://www.damienteney.info/" target="_blank"> Website</a>
            <a href="https://scholar.google.com/citations?user=iS_jP_3dpD8J&hl=en" target="_blank"><i
                    class="fa-brands fa-google-scholar"></i> Google Scholar</a>
                    <p class="Date">Date: Oct 1st</p> 
        </div>
    </div>

    <div class="card">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Ffullcircle.asu.edu%2Fwelcome%2Fyiran-luo%2F&psig=AOvVaw2TJfIgPnyCtDqaItqYT_iG&ust=1725745601520000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCJjKkL6lr4gDFQAAAAAdAAAAABAE"
            alt="Lawrence Yiran Luo">
        <div class="info">
            <p class="name">Lawrence Yiran Luo</p>
            <p class="position">ASU</p>
            <a href="https://fpsluozi.github.io/" target="_blank"> Website</a>
            <a href="https://scholar.google.com/citations?user=n4IrxbUAAAAJ&hl=en"
                target="_blank"><i class="fa-brands fa-google-scholar"></i> Google Scholar</a>
                <p class="Date">Date: Oct 3rd</p> 
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        <img src="http://users.cecs.anu.edu.au/~yili/u-tokyo-small.jpg"
            alt="Yi Li">
        <div class="info">
            <p class="name">Yi Li</p>
            <p class="position">Google Brain</p>
            <a href="http://users.cecs.anu.edu.au/~yili/" target="_blank"> Website</a>
            <a href="https://scholar.google.com/citations?user=JOvBjKMAAAAJ&hl=en" target="_blank"><i
                    class="fa-brands fa-google-scholar"></i> Google Scholar</a>
                    <p class="Date">Date: Oct 8th</p> 
        </div>
    </div>
    <div class="card">
        <img src="https://varunjampani.github.io/images/profile_pic.jpeg"
            alt="Varun Jampani">
        <div class="info">
            <p class="name">Varun Jampani</p>
            <p class="position">Stability AI</p>
            <a href="https://varunjampani.github.io/" target="_blank"> Website</a>
            <a href="https://scholar.google.com/citations?hl=en&user=1Cv6Sf4AAAAJ&view_op=list_works"
                target="_blank"><i class="fa-brands fa-google-scholar"></i> Google Scholar</a>
                <p class="Date">Date: Oct 17th</p> 
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        <img src="assets/images/agneet.jpg"
            alt="Agneet Chatterjee">
        <div class="info">
            <p class="name">Agneet Chatterjee</p>
            <p class="position">ASU</p>
            <a href="https://agneetchatterjee.com/" target="_blank"> Website</a>
            <a href="https://scholar.google.com/citations?user=RGRaOegAAAAJ&hl=en" target="_blank"><i
                    class="fa-brands fa-google-scholar"></i> Google Scholar</a>
                    <p class="Date">Date: Oct 22nd</p> 
        </div>
    </div>
    <div class="card">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Famitraj93.github.io%2F&psig=AOvVaw0dVj-o_h2I3i49_eKtQoVf&ust=1725745569395000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCLDkgrGlr4gDFQAAAAAdAAAAABAE"
            alt="Amit Raj">
        <div class="info">
            <p class="name">Amit Raj</p>
            <p class="position">Google Research</p>
            <a href="https://amitraj93.github.io/" target="_blank"> Website</a>
            <a href="https://scholar.google.com/citations?user=JVumcGEAAAAJ&hl=en"
                target="_blank"><i class="fa-brands fa-google-scholar"></i> Google Scholar</a>
                <p class="Date">Date: Oct 29th</p> 
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        <img src="https://xiaocw11.github.io/img/avatar_new.jpg"
            alt="Chaowei Xiao">
        <div class="info">
            <p class="name">Chaowei Xiao</p>
            <p class="position">Nvidia</p>
            <a href="https://xiaocw11.github.io/" target="_blank"> Website</a>
            <a href="https://scholar.google.com/citations?user=Juoqtj8AAAAJ&hl=en" target="_blank"><i
                    class="fa-brands fa-google-scholar"></i> Google Scholar</a>
                    <p class="Date">Date: Nov 7th</p> 
        </div>
    </div>
    <div class="card">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Ftech.asu.edu%2FT4-Faculty&psig=AOvVaw2R45GlFMuTkZ-D1zHQmdPO&ust=1725745522147000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCPjQn5mlr4gDFQAAAAAdAAAAABAE"
            alt="Elizabeth Reilley">
        <div class="info">
            <p class="name">Elizabeth Reilley</p>
            <p class="position">Tech Enterprise ASU</p>
            <a href="https://search.asu.edu/profile/3742704" target="_blank"> Website</a>
            <a href=""
                target="_blank"><i class="fa-brands fa-google-scholar"></i> Google Scholar</a>
                <p class="Date">Date: Nov 14th</p> 
        </div>
    </div>
    <div class="card">
        <img src="https://faculty.engineering.asu.edu/dfan/wp-content/uploads/sites/201/2023/06/image.png"
            alt="Deliang Fan">
        <div class="info">
            <p class="name">Deliang Fan</p>
            <p class="position">ASU ECEE</p>
            <a href="https://faculty.engineering.asu.edu/dfan/" target="_blank"> Website</a>
            <a href="https://scholar.google.com/citations?user=sAflhJUAAAAJ&hl=en" target="_blank"><i
                    class="fa-brands fa-google-scholar"></i> Google Scholar</a>
                    <p class="Date">Date: Nov 21st</p> 
        </div>
    </div>
</div>

</br>
</br>

<div>
    <h1 class="page-heading">Organizers</h1>

    {% assign orgs = site.orgs %}

    <div class="footer-col-wrapper">
        {%- for person in orgs -%}


        <div class="footer-col" style="padding-right: 60px;">
            <center>
                <img src="{{ person.photo }}" width="128" height="128"></br>
                <b><a href="{{ person.profile }}">{{ person.name }}</a></b>
                <!-- <p>{{ person.position }} </br> {{ person.affiliation }}</p> -->
                <p>{{ person.affiliation }}</p>
            </center>
        </div>

        {%- endfor -%}
    </div>

</div>